nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    border: 1px solid #cc0000;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
    background-color: #cc0000;
    display: inline-block;
  }
  
  nav li a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
  }

  nav li a:hover {
    background-color: #660000;
  }
