header {
    background-color: #99aaff;
    }

h1 {
    color: #ffffff;
    }

a:link {
    color: green;
    text-decoration: none;
    }

    a:visited {
        color: yellow;
    }

    a:active {
        color: yellowgreen;
    }

    a:hover {
        color: red;
        text-decoration: underline;
    }  

h2 {
    color: #0d0dff;
    }

.yellow{
    color: #ffb020;
    }

#style1{
    background-color: yellow;
    }

.style2{
    color: yellow;
    background-color: #006400;
    }   

.redtx{
    color: red;
    }

.greenbg{
    background-color: #90ee90;
    }

footer{
    background-color: yellow;
}

.redh4{
color: red;
}