  
#header {
    color: #9f7085;
  }

.header2{
    color: #f26c70;
}

.header3{
    background-color: #cfd7b2;
}

.footer {
    color: #b2b2b2;
  }

.BGreen {
    color: #94c19b;
}

.divecolor{
    background-color: #ffeeec;
}

    a:link {
        color: #dd2a2a;
        text-decoration: none;
    }
    
    a:visited {
        color: #2abc49;
    }
    
    a:active {
        color: #8f3bc7;
    }
    
    a:hover {
        color: #dfdf37;
        text-decoration: underline;
    }  
  