body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  font-family: 'Work Sans', sans-serif;
}

header {
  grid-column: span 12;
  background-color: #000000;
  width: 1200px;
  display: flex;
  align-items: center;
}

h1 a {
  color: #ffffff;
  font-weight: 800;
  font-size: 50px;
  margin-left: 98px;
  text-decoration: none;
  transition: color 0.50s;
}

h1 a:hover {
  color: #FF4C4C;
}


nav {
  margin-left: 147px;
  margin-right: 24px;
  text-align: center;
}

nav ul {
  font-size: 24px;
  font-weight: 800;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  width: 157px;
}

nav li a {
  display: block;
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 10px;
  color: #000000;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: background-color 0.50s,  color 0.50s;
}

nav li a:hover {
  color: #ffffff;
  background-color: #2C2C2C;
}

.special {
  color: white;
  background-color: #2C2C2C;
}

.hashtag{
  margin-top: 109px;
  font-weight: 800;
  font-size: 50px;
  border-bottom: 4px solid #000000;
  padding-bottom: 15px;
  line-height: .9;
  width: 200px;
}

.main1 {
  grid-column: span 12;
  background-image: url(BG.png);
  width: 1200px;
}

main img {
  width: 478px;
  float: right;
  margin-right: 70px;
  margin-top: 35px;
}

.main2 {
  border-top: 4px solid #000000;
  grid-column: span 4;
  margin-left: 98px;
  margin-top: 109px;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  width: 250px;
  line-height: 1.7;
}

.main3 {
  grid-column: span 4;
  margin-left: 98px;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  width: 450px;
  line-height: 1.7;
}

.t1{
  font-weight: 600;
  font-size: 24px;
  margin-left: 98px;
  padding-top: 150px;
  color: #ffffff;
  width: 380px;
}

.portfolio {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 12px;
}

.i1 {
  Width: 390px;
  height: 300px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  margin-right: 15px;
}

.i2 img {
  max-width: 390px;
  height: auto;
  margin-right: 15px;
}

.i3 img  {
  max-width: 390px;
  height: auto;
}

.portfolio2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 24px;
}

.portfolio3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 45px;
  margin-bottom: 24px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

.row2 
.row3 {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}

.i4 img {
  width: auto;
  max-height: 260px;
  margin-top: 24px;
  margin-right: 24px;
}

.i5 img {
  width: auto;
  max-height: 260px;
  margin-top: 24px;
}

.i6 img {
  width: auto;
  max-height: 255px;
  margin-top: 24px;
  margin-right: 24px;
}

.i7 img {
  width: auto;
  max-height: 255px;
  margin-top: 24px;
}

.i8 img {
  width: auto;
  max-height: 255px;
  margin-top: 24px;
  margin-right: 24px;
}

.i9 img {
  width: auto;
  max-height: 255px;
  margin-top: 24px;
}

.i10 img {
  width: auto;
  max-height: 265px;
  margin-top: 24px;
}

.i11 img {
  width: auto;
  max-height: 265px;
  margin-top: 14px;
}

.i12 img {
  width: auto;
  max-height: 265px;
  margin-top: 14px;
  margin-left: auto;
}

.portfolio span:hover {
  filter: brightness(50%) hue-rotate(10deg);
  transition: 1s;
}

.portfolio span:hover img {
  filter: brightness(50%) hue-rotate(10deg);
  transition: 1s;
}

.portfolio2 span:hover img {
  filter: brightness(50%) hue-rotate(10deg);
  transform: scale(1.05);
  transition: 1s;
}

section{
  grid-column: span 12;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 375px;
  background-color: #FF4C4C;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: background-color 0.50s;
  display: flex;
  justify-content: space-between; 
}

section a{
  font-weight: 600;
  font-size: 24px;
  color: white;
  text-decoration: none;
  padding-left: 83px;
  padding-right: 0px;
}

section:hover{
  background-color: #aa1a1a;
}

section img {
  transform: scale(0.5);
  margin-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  color: white;
  grid-column: span 12;
  width: 1200px;
  background-color: black;
  display: flex;
  justify-content: space-between; 
}

.footer1 {
  font-weight: 400;
  font-size: 16px;
  margin-left: 98px;
  padding-top: 60px;
  line-height: .5;
}

.footer2 {
  font-size: 45px;
  padding: 45px;
  margin-right: 80px;
  padding-top: 55px;
}

.footer2 a{
  padding: 5px;
  color: white;
  transition: color .50s, text-shadow 1s;
}

.footer2 a:hover{
  color: #aa1a1a;
  text-shadow: 3px 0px 0px #ffffff;
}